<%- include('partials/header') %>
    <main>
        <h1>
<%= title %>
        </h1>
        <p>Browse our service project categories:</p>
        <ol class="card-grid">
<% categories.forEach(category=> { %>
                <li class="card">
                    <div class="card-content">
                        <h3>
                            <a href="/category/<%= category.category_id %>"><%= category.name %></a>
                        </h3>
                    </div>
                </li>
<% }); %>
        </ol>
        <p><a href="/new-category">Add a New Category</a></p>
    </main>
<%- include('partials/footer') %>
