<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <form action="/edit-category/<%= category.category_id %>" method="POST">
            <div class="form-group">
                <label for="name">Category Name</label>
                <input type="text" id="name" name="name" required maxlength="100"
                    value="<%= category.name %>" />
            </div>

            <button type="submit">Update Category</button>
        </form>

        <p><a href="/category/<%= category.category_id %>">Back to Category</a></p>
    </main>
<%- include('partials/footer') %>
