<%- include('partials/header') %>
    <main>
        <h1>
<%= title %>
        </h1>
        <p>Here are our upcoming service projects:</p>
        <ul>
<% projects.forEach(project=> { %>
                <li>
                    <strong>
<%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric' , month: 'long' ,
                            day: 'numeric' , timeZone: 'UTC' }) %>:
                        <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                    </strong>
                    (<a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a>)
                </li>
<% }); %>
        </ul>
        <p><a href="/new-project">Add a New Service Project</a></p>
    </main>
<%- include('partials/footer') %>
