<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <h2><%= project.title %></h2>

        <p><strong>Date:</strong> <%= new Date(project.date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric', timeZone: 'UTC' }) %></p>

        <p><strong>Location:</strong> <%= project.location %></p>

        <p><strong>Description:</strong> <%= project.description %></p>

        <p><strong>Organization:</strong> <a href="/organization/<%= project.organization_id %>"><%= project.organization_name %></a></p>

        <p><a href="/edit-project/<%= project.project_id %>">Edit Project</a></p>
        <p><a href="/assign-categories/<%= project.project_id %>">Edit Categories</a></p>

        <h3>Categories</h3>
        <ul>
            <% categories.forEach(category => { %>
                <li><a href="/category/<%= category.category_id %>"><%= category.name %></a></li>
            <% }) %>
        </ul>
    </main>
<%- include('partials/footer') %>
